body{
    display: flex;
    flex-direction: column;
    
}

.informationCard{
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    text-align: center;
}
.informationCard p{
    margin-top: 20px;
}
section{
    background-color: #118AB2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23FFD166' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23118AB2' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23008fb5' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%230094b8' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%230099bb' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23009dbd' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300a2be' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300a7be' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2300acbe' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2300b0be' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2300b5bd' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2300b9bb' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2300beb9' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2300c2b6' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2300c6b2' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2300caae' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2300ceaa' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2300d2a5' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2306D6A0' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
button{
    background-color: #ff3366;
    padding: 10px;
}